* {
  margin:0;
  padding:0;
}

html {
  font-size: 16px;
  font-family: source-han-sans-japanese, sans-serif;
  font-style: normal;
  font-weight: 100;
  line-height: 1.7em;
  color: #111111;
  width: 100vw;
  height: 100vh;
}

.border-top {
  border-top: solid 1px #00a85f;
}

.border-bottom {
  border-bottom: solid 1px #00a85f;
}

.block {
  border-top: solid 1px #00a85f;
  display: table;
  width: 100%;
  /* height: 40px; */
}

.btnBlock {
  margin-top: 40px;
  text-align: center;
}

.restartBlock {
  margin-top: 10px;
  text-align: center;
}

.btn {
  width: 150px;
  height: 40px;
}

.inner_title {
  display: table-cell;
  vertical-align: middle;
  width: 40%;
  /* font-size: 44px; */
  text-align: left;
  padding-left: 30px;
}

.inner_data {
  display: table-cell;
  vertical-align: middle;
  width: 60%;
  text-align: right;
  padding-right: 30px;
}

.text_field {
  height: 90%;
  width: 70%;
  text-align: right;
  border: none;
  /* font-size: 55px; */
}

.select_field {
  height: 90%;
  border: none;
  /* font-size: 55px; */
}

#web-salary-header {
  /* position: absolute;
  top: 0; */
  width: 100%;
  height: 30px;
  background-color: #00a85f;
}
#web-salary-footer {
  position: absolute;
  display: table;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #00a85f;
  text-align: center;
}
#footer_label {
  display: table-cell;
  vertical-align: middle;
  font-size: 20px;
  color: white;
}
.reigle_icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.result_table {
  width: 90%;
  margin-left: 5%;
  border: 1px solid #333;
  border-collapse: collapse;
}

td {
  border: 1px solid #333;
}

thead, tfoot {
  background-color: #333;
  color: #fff;
}

.table_title {
  width: 50%;
}

.koumoku {
  text-align: left;
}

.in_salary {
  background-color: royalblue;
}

.out_salary {
  background-color: red;
}

.result_salary {
  background-color: green;
}

.result_label {
  text-align: right;
}

#loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #000;
  z-index: 1;
  opacity: 0.5;
}

#loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
  color: #fff;
  z-index: 2;
}

/* @media screen and (max-width: 480px) {
  .block {
    border-top: solid 1px #00a85f;
    display: table;
    width: 100%;
    height: 80px;
  }
} */
